/* Header kısmı */
#header {
    width: 100%;              /* Header genişliği tüm ekranı kaplar */
    height: 70vh;            /* Header yüksekliği tam ekran yüksekliği kadar olur */
    overflow: hidden         /* Görsel taşarsa gizlenir */
}

#header img {
    width: 100%;              /* Görsel header genişliğini tamamen doldurur */
    height: 75%;             /* Görsel header yüksekliğini tamamen doldurur */
    object-fit: cover;        /* Görselin en boy oranını koruyarak, taşmadan header'ı kaplar */
    display: block;           /* Varsayılan boşlukları engeller */
    position: absolute;
    left: 0px; /* Soldan uzaklık */  
    top: 0px; /* Üstten uzaklık, menünün altında ayarlayın */  
    z-index: -1; /* Diğer tüm elementleri*/
}

/* Menü kısmı */
nav {
    padding: 15px 0;         /* Üst ve alt boşluklar */
   
}
#logo{  
    margin-top: 0px;
    padding-left: 0px;
    height:160px;
    width:160px;

   

}
#logo img{
    width: 160px;
    height: 160px;
    float: left;
   
   
}

.menu-container {
    z-index: 1;
    padding: 15px 0;        /* Üst ve alt boşluklar */
}


.menu-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #5e0202;
    opacity: 0.7; /* Sadece arka plan şeffaf */
    z-index: -1; /* Arka planda kalması için */
    z-index: 1;
    position: fixed; 
    
}
 
 .menu {
    list-style-type: none; /* Liste noktalarını kaldır */
    padding: 0;           /* İç boşlukları kaldır */
    margin: 0;            /* Kenar boşluklarını kaldır */
    display: flex;        /* Flexbox ile yatay düzenleme */
    flex-direction: row;
    position: fixed;  
    z-index: 1;
    margin-left:680px;
    margin-top: 0px;
   
} */

.menu li {
    margin: 0 15px; /* Menü öğeleri arasına boşluk */
   
}

.menu a {
    color: white; /* Yazı rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
    font-size: 18px; /* Yazı boyutu */
    padding: 20px 25px; /* İç boşluk */
    display: block; /* Linklerin tıklanabilir alanını genişlet */
    border-radius: 5px; /* Köşeleri yuvarlat */
    position: relative; /* Arka plan ve yazıyı ayırmak için */
    z-index: 1; /* Yazının arka plandan önde olmasını sağla */
   
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hover etkisi için daha açık şeffaf gri */
    color: #ff6347; /* Hover etkisi için metin rengi değişikliği */ 
}
.text-center {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    color: black;
}